<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item-group *ngFor="let orderedUser of orderedUsers">
          <ion-item-divider style="font-weight: bold" light>{{orderedUser.letter}}</ion-item-divider>
          <ion-card style="border-radius:10px; background-color: white">
            <ion-card-content>
              <ion-item *ngFor="let user of orderedUser.users" (click)="showDetail()">
                <ion-avatar slot="start">
                  <h2 style="color: #00ba7b">{{orderedUser.letter}}</h2>
                </ion-avatar>
                <ion-label>
                  <h2 style="color: #494949; font-weight: bold">{{user.first}} {{user.last}}</h2>
                  <h6 style="color: #959595" text-wrap>{{user.email}}</h6>
                </ion-label>
                <ion-icon name="star" slot="end"></ion-icon>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-item-group>
    </ion-list>
  </div>
</ion-content>
